/* body {
    background-color: pink;
} */

/* NavBar */
.navbar{
    height: 5rem;
    background-color:#E1E01E;
}

.fa-compass{
    font-size: 2rem;
    color: blue;
}

.nav-link{
    color: #222222 !important;
}
